<template>
<f7-page>
    <f7-navbar title="TURUAPP" back-link="Back" sliding></f7-navbar>
    <div class="page-content login-screen-content">
    <div class="login-screen-title">Reset Your Password</div>
    <form class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Email Address</div>
                        <div class="item-input">
                            <input name="email" v-model="email" placeholder="Email Address" type="email">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>
    <div class="list-block">
        <ul>
            <li><a v-on:click.prevent="send" href="#" class="button button-fill button-big">Send</a></li>
        </ul>
    </div>
</div>
</f7-page>
</template>

<script>
    export default {
        data () {
          return {
            route: {
              login: '/login',
            },
            email: '',
            url: {
              routeReset: 'http://turuapp.herokuapp.com/api/password?email=',
            },
          }
        },
        methods: {
          send: function () {
            var that = this;
            var route = that.url.routeReset + that.email
            axios.get(route).then(function(response){
                var result = response.data;
                f7.mainView.router.load({url: that.route.login});
                that.$f7.alert('Success', 'Please check your email to reset your password');
                that.$$('.page-on-left').remove();
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
          },
        }
    }
</script>


