<template>
<f7-page>
<f7-navbar title="TURUAPP" sliding></f7-navbar>
<div class="page-content login-screen-content">
    <center><img height="100" width="100" src="~assets/images/logo.jpg"></center>
    <div class="login-screen-title" style="font-size: 1em">St. Nicolas College of Business & Technology Inc.</div>
    <div class="login-screen-title">Login</div>
    <form class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Username</div>
                        <div class="item-input">
                            <input name="email" v-model="auth.email" placeholder="Username" type="text">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Password</div>
                        <div class="item-input">
                            <input name="password" v-model="auth.password" placeholder="Password" type="password">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>
    <div class="list-block">
        <ul>
            <li><a v-on:click.prevent="handleAuth" href="#" class="button button-fill button-big">Login</a></li>
        </ul>
        <div class="list-block-label">
        </div>
    </div>
    <center>
            <p><a v-on:click.prevent="gotoRegistration" href="#" class="item-link list-button">No account yet?</a></p> </center>
            <br>
            <center>
            <p><a v-on:click.prevent="gotoForget" href="#" class="item-link list-button">Forgot account?</a></p>
            </center>
</div>
</f7-page>
</template>

<script>
    export default {
        data () {
          return {
            route: {
              schedule: '/schedule',
              registration: '/registration',
              forget: '/forget',
            },
            auth: {
                email: '',
                password: '',
            },
            url: {
              routeLogin: 'http://turuapp.herokuapp.com/api/login',
            },
          }
        },
        methods: {
          handleAuth: function () {
            var that = this;
            var data = {
                email: that.auth.email,
                password: that.auth.password,
            }
            axios.post(that.url.routeLogin, data).then(function(response){
                var result = response.data;
                f7.mainView.router.load({url: that.route.schedule});
                auth_global = {
                    id: result.id,
                    email: result.email,
                    first_name: result.first_name,
                    username: result.username,
                    last_name: result.last_name,
                    type: result.type,
                    isAuthenticated: true,
                }
                that.$$('.page-on-left').remove();
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
          },
          gotoRegistration: function () {
            var that = this;
            f7.mainView.router.load({url: that.route.registration});
          },
          gotoForget: function () {
            var that = this;
            f7.mainView.router.load({url: that.route.forget});
          }
        }
    }
</script>

