<template>
<f7-page>
    <f7-navbar>
        <f7-nav-left>
            <f7-link icon="icon-bars" open-panel="left"></f7-link>
        </f7-nav-left>
        <f7-nav-center sliding>TURUAPP</f7-nav-center>
    </f7-navbar>
    <div class="content-block">
      <p>Profile Info</p>
      <div class="list-block">
        <ul>
             <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">ID</div>
                <div class="item-after"><b>{{user.id}}</b></div>
              </div>
            </div>
          </li>
         <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Name</div>
                <div class="item-after"><b>{{user.name}}</b></div>
              </div>
            </div>
          </li>
             <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Username</div>
                <div class="item-after"><b>{{user.username}}</b></div>
              </div>
            </div>
          </li>

                   <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Email</div>
                <div class="item-after"><b>{{user.email}}</b></div>
              </div>
            </div>
          </li>
                   <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">User Type</div>
                <div class="item-after"><b>{{user.type}}</b></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>



</f7-page>
</template>

<script>
    export default {
         data () {
          return {
            user: {
                name: '',
                username: '',
                email: '',
                type: '',
            },
          }
        },
        mounted: function () {
            var that = this
            that.user = {
                id: auth_global.id,

                name: auth_global.first_name + ' ' + auth_global.last_name,
                email: auth_global.email,
                username: auth_global.username,
                type: auth_global.type,
            }
            $('.page-on-left').remove();
        }
    }
</script>


