<template>
<f7-page>
    <f7-navbar title="TURUAPP" back-link="Back" sliding></f7-navbar>
    <div class="page-content login-screen-content">
    <div class="login-screen-title">Registration</div>
    <form class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">First Name</div>
                        <div class="item-input">
                            <input name="first_name" v-model="user.first_name" placeholder="First Name" type="text">
                        </div>
                    </div>
                </div>
            </li>
          <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Middle Name</div>
                        <div class="item-input">
                            <input name="middle_name" v-model="middle_name" placeholder="Middle Name" type="text">
                        </div>
                    </div>
                </div>
            </li>
          <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Last Name</div>
                        <div class="item-input">
                            <input name="last_name" v-model="user.last_name" placeholder="Last Name" type="text">
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">
                            User Type
                        </div>
                        <div class="item-input">
                            <input v-model="user.type" type="text" placeholder="User Type" readonly id="picker-custom-toolbar2">
                        </div>
                    </div>
                </div>
            </li>

              <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Username</div>
                        <div class="item-input">
                            <input name="username" v-model="user.username" placeholder="Username" type="text">
                        </div>
                    </div>
                </div>
            </li>
          <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Email</div>
                        <div class="item-input">
                            <input name="email" v-model="user.email" placeholder="Email" type="email">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Password</div>
                        <div class="item-input">
                            <input name="password" v-model="user.password" placeholder="Password" type="password">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Confirm Password</div>
                        <div class="item-input">
                            <input name="password_confirm" v-model="user.password_confirm" placeholder="Confirm Password" type="password">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>
    <div class="list-block">
        <ul>
            <li><a v-on:click.prevent="registerUser" href="#" class="button button-fill button-big">Register</a></li>
        </ul>
    </div>
</div>
</f7-page>
</template>

<script>
    export default {
        data () {
          return {
            route: {
              schedule: '/schedule',
              login: '/login',
            },
            user: {
                first_name: '',
                last_name: '',
                username: '',
                email: '',
                password: '',
                password_confirm: '',
                type: '',
            },
            middle_name: '',
            url: {
              routeRegister: 'http://turuapp.herokuapp.com/api/register',
            },
          }
        },
        mounted: function () {
            var that = this;
        that.$f7.picker({
            input: '#picker-custom-toolbar2',
            rotateEffect: true,
            toolbar: false,
            onChange: function (picker, values, displayValues) {
                that.user.type = values[0];
            },
            cols: [
                {
                    values: ('teacher student').split(' '),
                },
            ],
        });
        },
        methods: {
          registerUser: function () {
            var that = this;
            var data = {
                first_name: that.user.first_name,
                last_name: that.middle_name + ' ' + that.user.last_name,
                email: that.user.email,
                username: that.user.username,
                password: that.user.password,
                password_confirm: that.user.password_confirm,
                type: that.user.type,
            }
            axios.post(that.url.routeRegister, data).then(function(response){
                var result = response.data;
                f7.mainView.router.load({url: that.route.schedule});
                auth_global = {
                    id: result.id,
                    first_name: result.first_name,
                    last_name: result.last_name,
                    email: result.email,
                    username: result.username,
                    type: result.type,
                    isAuthenticated: true,
                }
                that.$$('.page-on-left').remove();
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
          },
          gotoLogin: function () {
           f7.mainView.router.load({url: that.route.login});
          }
        }
    }
</script>


