<template>
<f7-page>
    <f7-navbar>
        <f7-nav-left>
            <f7-link icon="icon-bars" open-panel="left"></f7-link>
        </f7-nav-left>
        <f7-nav-center sliding>TURUAPP</f7-nav-center>
    </f7-navbar>
    <div class="searchbar">
        <div class="searchbar-input">
            <input type="search" placeholder="Search" v-model="search">
        </div>
    </div>
    <f7-block-title>Schedules</f7-block-title>
    <div class="data-table data-table-init card">
      <div class="card-header">
        <div class="data-table-links">
          <p><a v-on:click.prevent="addSubject" class="button">Add Subject</a></p>
        </div>
      </div>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th class="label-cell">Subject Code</th>
              <th class="label-cell">Subject Name</th>
              <th class="label-cell">Day</th>
              <th class="label-cell">Time Start</th>
              <th class="label-cell">Time End</th>
              <th class="actions-cell">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(subject, index) in filterBy(subjects, search, 'subject_code', 'subject_name', 'day')">
              <td class="label-cell">{{ subject.subject_code }}</td>
              <td class="label-cell">{{ subject.subject_name }}</td>
              <td class="label-cell">{{ subject.day }}</td>
              <td class="label-cell">{{ subject.time_start }}</td>
              <td class="label-cell">{{ subject.time_end }}</td>
              <td class="actions-cell">
                <p><a v-show="user_type === 'teacher'" v-on:click.prevent="viewSubject(subject.subject_code)" class="button">View Class</a></p>
                <p><a v-show="user_type === 'teacher'" v-on:click.prevent="editSubject(subject.id)" class="button">Edit Subject</a></p>

                <p><a v-show="user_type === 'student'" v-on:click.prevent="viewGrades(subject)" class="button">View Grades</a></p>
                <p><a v-show="user_type === 'student'" v-on:click.prevent="viewNotes(subject.subject_code, subject.teacher_id)" class="button">View Notes</a></p>

                <!-- <a class="link icon-only" v-on:click.prevent="deleteSubject()"><i class="icon f7-icons">trash</i></a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


<div class="popup popup-grades afuck">
    <div class="content-block">
      <p>View Grade {{ myGrade.subject }}</p>
      <form class="list-block">
        <ul>
 <!--          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Prelim Quiz</div>
                <div class="item-after"><b>{{myGrade.prelim_quiz_grade}}</b></div>
              </div>
            </div>
          </li> -->
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Prelim Exam</div>
                <div class="item-after"><b>{{myGrade.prelim_exam_grade}}</b></div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Prelim Grade</div>
                <div class="item-after"><b>{{myGrade.prelim_final_grade}}</b></div>
              </div>
            </div>
          </li>
        <!--   <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Midterm Quiz</div>
                <div class="item-after"><b>{{myGrade.midterm_quiz_grade}}</b></div>
              </div>
            </div>
          </li> -->
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Midterm Exam</div>
                <div class="item-after"><b>{{myGrade.midterm_exam_grade}}</b></div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Midterm Grade</div>
                <div class="item-after"><b>{{myGrade.midterm_final_grade}}</b></div>
              </div>
            </div>
          </li>
      <!--     <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Final Quiz</div>
                <div class="item-after"><b>{{myGrade.finals_quiz_grade}}</b></div>
              </div>
            </div>
          </li> -->
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Final Exam</div>
                <div class="item-after"><b>{{myGrade.finals_exam_grade}}</b></div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Final Grade</div>
                <div class="item-after"><b>{{myGrade.finals_final_grade}}</b></div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Remarks</div>
                <div class="item-after"><b>{{myGrade.total}}</b></div>
              </div>
            </div>
          </li>

              <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Absences</div>
                <div class="item-after"><b>{{myGrade.absences}}</b></div>
              </div>
            </div>
          </li>
        </ul>
        <br>
        <div class="row">
            <div class="col-100">
                <a href="#" class="close-popup button button-fill button-big">Close</a>
            </div>
        </div>
      </form>
    </div>
  </div>











<div class="popup popup-view-notes">
  <div class="content-block">
    <div class="row">
        <h3>View Notes</h3>
        <p><a href="#" class="link icon-only right close-popup"><i class="icon f7-icons">close_round</i></a></p>
      </div>
    </div>
    <div style="overflow: scroll; width: 100%; height: 70%; background: #e0e0e0;">
      <div class="timeline">
        <div class="timeline-item" v-for="(note, index) in notes">
          <div class="timeline-item-date">{{note.day}} <small>{{note.month}}</small> <b>{{note.year}}</b> </div>
          <div class="timeline-item-divider"></div>
          <div class="timeline-item-content">
            <div class="timeline-item-inner">
              <div class="timeline-item-time">{{note.time}}</div>
              <div class="timeline-item-text">{{note.notes}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<div class="popup popup-services afuck">
  <div class="content-block">
    <p>Add Subject</p>
    <form class="list-block">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title label">Teacher ID</div>
              <div class="item-input">
                <input name="prelim_quiz_grade" v-model="student_add_subject.teacher_id" placeholder="Teacher ID" type="text">
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title label">Subject Code</div>
              <div class="item-input">
                <input name="prelim_quiz_grade" v-model="student_add_subject.subject_code" placeholder="Subject Code" type="text">
              </div>
            </div>
          </div>
        </li>
      </ul>
      <br>
      <div class="row">
        <div class="col-50">
          <a href="#" class="close-popup button button-fill button-big">Cancel</a>
        </div>
        <div class="col-50">
          <a v-on:click.prevent="addStudentSubject" href="#" class="button button-fill button-big">Update</a>
        </div>
      </div>
    </form>
  </div>
</div>





</f7-page>
</template>

<style>
.afuck .list-block .item-title {
  font-size: .5em
}
</style>

<script>
  export default {
    data () {
      return {
        route: {
          view_subject: '',
          add_subject: '',
          edit_subject: '/teacher/edit/subject/id/',
        },
        url: {
          routeGetSubjects: 'http://turuapp.herokuapp.com/api/get/schedule?teacher_id=',
          routeEnrolSubject: 'http://turuapp.herokuapp.com/api/enroll/subject',
          routeViewNotes: 'http://turuapp.herokuapp.com/api/get/notes?subject_code=',
        },
        subjects: [],
        notes: [],
        search: '',
        user_id: '',
        user_type: '',
        user_name: '',
        student_add_subject: {
          student_id: '',
          teacher_id: null,
          subject_code: '',
        },
        myGrade: {
          subject: '',
          prelim_quiz_grade: '',
          prelim_exam_grade: '',
          prelim_final_grade: '',
          midterm_quiz_grade: '',
          midterm_exam_grade: '',
          midterm_final_grade: '',
          finals_quiz_grade: '',
          finals_exam_grade: '',
          finals_final_grade: '',
          total: '',
          absences: '',
        },
      }
    },
    created: function () {
      var that = this;
      that.$$('.page-on-left').remove();
      var routeGetSubjects = that.url.routeGetSubjects + auth_global.id;
      that.user_id = auth_global.id;
      that.user_type = auth_global.type;
      that.user_name = auth_global.first_name + ' ' + auth_global.last_name;
      if(that.user_type === 'student') {
        that.route.add_subject = '/student/add/subject'
      } else {
        that.route.add_subject = '/teacher/add/subject'
      }
      axios.get(routeGetSubjects).then(function(response){
        that.subjects = response.data;
      });
    },
    mounted: function () {
      var that = this;
      that.$$('.page-on-left').remove();
    },
    methods: {
        viewNotes: function (subject_code, teacher_id) {
            var that = this;
            that.$f7.popup('.popup-view-notes')
            var route = that.url.routeViewNotes + subject_code + '&teacher_id=' + teacher_id;
            axios.get(route).then(function(response){
              that.notes = response.data;
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
        },
        viewGrades: function (obj) {
          var that = this;
          that.myGrade = {
            subject: obj.subject_name,
            prelim_quiz_grade: obj.grades.prelim_quiz_grade,
            prelim_exam_grade: obj.grades.prelim_exam_grade,
            prelim_final_grade: obj.grades.prelim_final_grade,
            midterm_quiz_grade: obj.grades.midterm_quiz_grade,
            midterm_exam_grade: obj.grades.midterm_exam_grade,
            midterm_final_grade: obj.grades.midterm_final_grade,
            finals_quiz_grade: obj.grades.finals_quiz_grade,
            finals_exam_grade: obj.grades.finals_exam_grade,
            finals_final_grade: obj.grades.finals_final_grade,
            total: obj.grades.total,
            absences: obj.grades.absent_count,
          }
          that.$f7.popup('.popup-grades')
        },
        viewSubject: function (subject_code) {
          var that = this;
          if(that.user_type === 'student') {
            that.route.view_subject = '/student/view/notes/subject/' + subject_code;
          } else {
            that.route.view_subject = '/teacher/view/classroom/subject/' + subject_code + '/user_id/' + that.user_id;
          }
          f7.mainView.router.load({url: that.route.view_subject});
        },
        editSubject: function (id) {
          var that = this;
          f7.mainView.router.load({url: that.route.edit_subject + id});
        },
        deleteSubject: function () {

        },
        addSubject: function () {
          var that = this;
          if(that.user_type === 'student') {
            that.$f7.popup('.popup-services')
          } else {
            f7.mainView.router.load({url: that.route.add_subject});
          }
        },
        addStudentSubject: function () {
          var that = this;
          var data = {
            subject_code: that.student_add_subject.subject_code,
            teacher_id: that.student_add_subject.teacher_id,
            student_id: that.user_id
          }
          axios.post(that.url.routeEnrolSubject, data).then(function(response){
              var result = response.data;
              that.subjects.push(result);
              that.student_add_subject.subject_code = ''
              that.student_add_subject.teacher_id = null
              that.$f7.closeModal('.popup-services')
          }).catch( function(error) {
              var err = error.response.data;
              that.$f7.alert(err.message, err.error);
          });
        }
    }
  }
</script>
