<template>
  <f7-page>
    <f7-block-title>Add Subject</f7-block-title>
    <form class="list-block asd">
        <ul>
            <li class="">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">
                            Subject Code
                        </div>
                        <div class="item-input">
                            <input v-model="subject.subject_code" type="text" placeholder="Subject Code">
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">
                            Subject Name
                        </div>
                        <div class="item-input">
                            <input v-model="subject.subject_name" type="text" placeholder="Subject Name">
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">
                            Day
                        </div>
                        <div class="item-input">
                            <input v-model="subject.day" type="text" placeholder="Day" readonly id="picker-custom-toolbar2">
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">
                            Time Start
                        </div>
                        <div class="item-input">
                            <input v-model="subject.time_start" type="text" placeholder="Time Start" readonly id="picker-custom-toolbar">
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">
                            Time End
                        </div>
                        <div class="item-input">
                            <input v-model="subject.time_end" type="text" placeholder="Time End" readonly id="picker-custom-toolbar1">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <br>
        <div class="row">
            <div class="col-50">
                <a @click="$router.back()" class="link button button-fill button-big">Cancel</a>
            </div>
            <div class="col-50">
                <a v-on:click.prevent="storeSubject" class="button button-fill button-big">Submit</a>
            </div>
        </div>
    </form>
  </f7-page>
</template>

<style>
.asd .item-title {
  font-size: .5em
}
</style>

<script>
  export default {
    data () {
      return {
        url: {
            routeRegisterSubject: 'http://turuapp.herokuapp.com/api/register/subject',
        },
        subject: {
            time_end: '',
            time_start: '',
            day: '',
            subject_name: '',
            subject_code: '',
            teacher_id: '',
        }
      }
    },
    mounted: function () {
      var that = this;
      that.$$('.page-on-left').remove();
        that.$f7.picker({
            input: '#picker-custom-toolbar',
            rotateEffect: true,
            toolbar: false,
            onChange: function (picker, values, displayValues) {
                that.subject.time_start = values[0] + ':' + values[1] + values[2] + ' ' + values[3];
            },
            formatValue: function (p, values, displayValues) {
                return values[0] + ':' + values[1] + values[2] + ' ' + values[3];
            },
            cols: [
                {
                    values: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
                },
                {
                    divider: true,
                    content: ':'
                },
                {
                    values: ('0 1 2 3 4 5').split(' '),
                    divider: false,
                },
                {
                    values: ('0 1 2 3 4 5 6 7 8 9').split(' '),
                    divider: false,
                },
                {
                    values: ['AM', 'PM']
                },
            ],
        });


        that.$f7.picker({
            input: '#picker-custom-toolbar1',
            rotateEffect: true,
            toolbar: false,
            onChange: function (picker, values, displayValues) {
                that.subject.time_end = values[0] + ':' + values[1] + values[2] + ' ' + values[3];
            },
            formatValue: function (p, values, displayValues) {
                return values[0] + ':' + values[1] + values[2] + ' ' + values[3];
            },
            cols: [
                {
                    values: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
                },
                {
                    divider: true,
                    content: ':'
                },
                {
                    values: ('0 1 2 3 4 5').split(' '),
                },
                {
                    values: ('0 1 2 3 4 5 6 7 8 9').split(' '),
                },
                {
                    values: ['AM', 'PM']
                },
            ],
        });



        that.$f7.picker({
            input: '#picker-custom-toolbar2',
            rotateEffect: true,
            toolbar: false,
            onChange: function (picker, values, displayValues) {
                that.subject.day = values[0];
            },
            cols: [
                {
                    values: ('Monday Tuesday Wednesday Thursday Friday Saturday Sunday').split(' '),
                },
            ],
        });











    },
    created: function () {
      var that = this;
      that.$$('.page-on-left').remove();
    },
    methods: {
        storeSubject: function () {
            var that = this;
            var data = {
                time_end: that.subject.time_end,
                time_start: that.subject.time_start,
                day: that.subject.day,
                subject_name: that.subject.subject_name,
                subject_code: that.subject.subject_code,
                teacher_id: auth_global.id,
            }
            axios.post(that.url.routeRegisterSubject, data).then(function(response){
                that.$router.load({url: '/schedule'})
            });
        }
    }
  }
</script>
