<template>
<f7-page>
    <f7-navbar>
        <f7-nav-left>
            <f7-link icon="icon-bars" open-panel="left"></f7-link>
        </f7-nav-left>
        <f7-nav-center sliding>TURUAPP</f7-nav-center>
    </f7-navbar>
    <div class="searchbar">
        <div class="searchbar-input">
            <input type="search" placeholder="Search" v-model="search">
        </div>
    </div>
    <f7-block-title>Classroom {{$route.params.subjectCode}}</f7-block-title>
    <div class="data-table data-table-init card">
      <div class="card-header">
        <div class="data-table-links">
          <p><a href="#" v-on:click.prevent="openModalAddNotes" class="button">Add Notes</a></p>
          <p><a href="#" v-on:click.prevent="openModalViewNotes" class="button">View Notes</a></p>
          <p><a href="#" v-on:click.prevent="openModalAttendance" class="button">Attendance</a></p>
        </div>
      </div>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th class="label-cell">Student Name</th>
              <th class="label-cell">Remarks</th>
              <th class="label-cell">Total Absences</th>
              <!-- <th class="label-cell">Prelim Quiz</th> -->
              <th class="label-cell">Prelim Exam</th>
              <th class="label-cell">Prelim Grade</th>

              <!-- <th class="label-cell">Midterm Quiz</th> -->
              <th class="label-cell">Midterm Exam</th>
              <th class="label-cell">Midterm Grade</th>

              <!-- <th class="label-cell">Final Quiz</th> -->
              <th class="label-cell">Final Exam</th>
              <th class="label-cell">Final Grade</th>
              <th class="actions-cell">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(student, index) in filterBy(students, search, 'last_name', 'first_name')">
              <td class="label-cell">{{ student.first_name }} {{ student.last_name }}</td>
              <td class="label-cell">{{ student.total }}</td>
              <td class="label-cell">{{ student.absent_count }}</td>
              <!-- <td class="label-cell">{{ student.prelim_quiz_grade }}</td> -->
              <td class="label-cell">{{ student.prelim_exam_grade }}</td>
              <td class="label-cell">{{ student.prelim_final_grade }}</td>
              <!-- <td class="label-cell">{{ student.midterm_quiz_grade }}</td> -->
              <td class="label-cell">{{ student.midterm_exam_grade }}</td>
              <td class="label-cell">{{ student.midterm_final_grade }}</td>
              <!-- <td class="label-cell">{{ student.finals_quiz_grade }}</td> -->
              <td class="label-cell">{{ student.finals_exam_grade }}</td>
              <td class="label-cell">{{ student.finals_final_grade }}</td>
              <td class="actions-cell">
                <p><a v-on:click.prevent="openModalEditGrade(student, index)" class="button">Edit Grade</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



    <div class="popup popup-services afuck">
    <div class="content-block">
      <p>Edit Grade {{ student_grades.name }}</p>
      <form class="list-block">
        <ul>
 <!--          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Prelim Quiz</div>
                <div class="item-input">
                  <input name="prelim_quiz_grade" v-model="student_grades.prelim_quiz_grade" placeholder="Prelim Quiz" type="text">
                </div>
              </div>
            </div>
          </li> -->
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Prelim Exam</div>
                <div class="item-input">
                  <input name="prelim_exam_grade" v-model="student_grades.prelim_exam_grade" placeholder="Prelim Exam" type="text">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Prelim Grade</div>
                <div class="item-input">
                  <input name="prelim_final_grade" v-model="student_grades.prelim_final_grade" placeholder="Prelim Grade" type="text">
                </div>
              </div>
            </div>
          </li>
    <!--       <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Midterm Quiz</div>
                <div class="item-input">
                  <input name="midterm_quiz_grade" v-model="student_grades.midterm_quiz_grade" placeholder="Midterm Quiz" type="text">
                </div>
              </div>
            </div>
          </li> -->
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Midterm Exam</div>
                <div class="item-input">
                  <input name="midterm_exam_grade" v-model="student_grades.midterm_exam_grade" placeholder="Midterm Exam" type="text">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Midterm Grade</div>
                <div class="item-input">
                  <input name="midterm_final_grade" v-model="student_grades.midterm_final_grade" placeholder="Midterm Grade" type="text">
                </div>
              </div>
            </div>
          </li>
      <!--     <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Final Quiz</div>
                <div class="item-input">
                  <input name="finals_quiz_grade" v-model="student_grades.finals_quiz_grade" placeholder="Final Quiz" type="text">
                </div>
              </div>
            </div>
          </li> -->
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Final Exam</div>
                <div class="item-input">
                  <input name="finals_exam_grade" v-model="student_grades.finals_exam_grade" placeholder="Final Exam" type="text">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Final Grade</div>
                <div class="item-input">
                  <input name="finals_final_grade" v-model="student_grades.finals_final_grade" placeholder="Final Grade" type="text">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Remarks</div>
                <div class="item-input">
                  <input name="total" v-model="student_grades.total" placeholder="Remarks" type="text">
                </div>
              </div>
            </div>
          </li>
        </ul>
        <br>
        <div class="row">
            <div class="col-50">
                <a href="#" class="close-popup button button-fill button-big">Cancel</a>
            </div>
            <div class="col-50">
                <a v-on:click.prevent="updateStudentGrade(student_grades.index)" href="#" class="button button-fill button-big">Update</a>
            </div>
        </div>
      </form>
    </div>
  </div>




<div class="popup popup-add-notes">
    <div class="content-block">
      <p>Add Notes</p>
      <form class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Notes</div>
                <div class="item-input">
                  <textarea v-model="note_content" placeholder="Notes"></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <br>
        <div class="row">
            <div class="col-50">
                <a href="#" class="close-popup button button-fill button-big">Cancel</a>
            </div>
            <div class="col-50">
                <a v-on:click.prevent="addNotes" href="#" class="button button-fill button-big">Add</a>
            </div>
        </div>
      </form>
    </div>
  </div>



<div class="popup popup-attendance">
    <div class="content-block">
      <div class="row">
        <h3>Attendance</h3>
        <p><a href="#" class="link icon-only right close-popup"><i class="icon f7-icons">close_round</i></a></p>
      </div>
    </div>
      <div class="data-table data-table-init card">
            <form class="searchbar">
        <div class="searchbar-input">
            <input type="search" readonly v-on:change="dateChange" id="calendar-input" v-model="attendance_date" placeholder="Date">
        </div>
    </form>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th class="label-cell">Student Name</th>
              <th class="actions-cell">Action</th>
            </tr>
          </thead>
          <tbody v-show="!attendance_loader">
            <tr v-for="(student, index) in attendance_students">
              <td class="label-cell">{{ student.student_name }}</td>
              <td class="actions-cell">
                <p><a v-on:click="updateAttendanceStudent(student.id)" v-bind:class="{ 'color-red': student.absent, 'button-fill': student.absent, 'button': true }">Absent</a></p>
              </td>
            </tr>
          </tbody>
        </table>
        <div v-show="attendance_loader">
          <center><span style="width:42px; height:42px" class="preloader"></span></center>
        </div>
      </div>
    </div>


    </div>
  </div>










<div class="popup popup-view-notes">
  <div class="content-block">
    <div class="row">
        <h3>View Notes</h3>
        <p><a href="#" class="link icon-only right close-popup"><i class="icon f7-icons">close_round</i></a></p>
      </div>
    </div>
    <div style="overflow: scroll; width: 100%; height: 70%; background: #e0e0e0;">
    <div class="timeline">
      <div class="timeline-item" v-for="(note, index) in notes">
        <p><a href="#" v-on:click="deleteNotes(note.id)" class="link icon-only"><i class="icon color-red f7-icons">close_round_fill</i></a></p>
        <div class="timeline-item-date">{{note.day}} <small>{{note.month}}</small> <b>{{note.year}}</b> </div>
        <div class="timeline-item-divider"></div>
        <div class="timeline-item-content">
          <div class="timeline-item-inner">
            <div class="timeline-item-time">{{note.time}}</div>
            <div class="timeline-item-text">{{note.notes}}</div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

















</f7-page>
</template>

<style>
.afuck .list-block .item-title {
  font-size: .5em
}
</style>
<script>
  export default {
    data () {
      return {
        attendance_loader: false,
        attendance_date: '',
        route: {
          view_subject: '',
          add_subject: '',
          edit_subject: '/teacher/edit/subject/id/',
        },
        url: {
          routeGetClassroom: 'http://turuapp.herokuapp.com/api/get/classroom?subject_code=',
          routeUpdateStudentGrade: 'http://turuapp.herokuapp.com/api/update/grade',
          routeViewNotes: 'http://turuapp.herokuapp.com/api/get/notes?subject_code=',
          routeAddNotes: 'http://turuapp.herokuapp.com/api/add/note',
          routeDeleteNotes: 'http://turuapp.herokuapp.com/api/destroy/note',
          routeGetAttendance: 'http://turuapp.herokuapp.com/api/attendance',
        },
        students: [],
        attendance_students: [],
        notes: [],
        note_content: '',
        search: '',
        user_id: '',
        user_type: '',
        student_grades: {
          id: '',
          name: '',
          prelim_quiz_grade: '',
          prelim_exam_grade: '',
          prelim_final_grade: '',
          midterm_quiz_grade: '',
          midterm_exam_grade: '',
          midterm_final_grade: '',
          finals_quiz_grade: '',
          finals_exam_grade: '',
          finals_final_grade: '',
        }
      }
    },
    mounted: function () {
      var that = this;
      var myApp = new Framework7();
      that.$$('.page-on-left').remove();
      that.$f7.calendar({
          input: '#calendar-input'
      });
      that.attendance_date = new Date().toISOString().slice(0,10);
    },
    created: function () {
      var that = this;
      that.user_id = auth_global.id;
      that.user_type = auth_global.type;
      var routeGetClassroom = that.url.routeGetClassroom + that.$route.params.subjectCode + '&user_id=' + that.user_id;
      axios.get(routeGetClassroom).then(function(response){
        that.students = response.data;
      });
      that.$$('.page-on-left').remove();
    },
    methods: {
      updateAttendanceStudent: function (student_id) {
          var that = this;
          var data = {
            date: that.attendance_date,
            subject_code: that.$route.params.subjectCode,
            teacher_id: that.user_id,
            student_id: student_id,
          }

        axios.post(that.url.routeGetAttendance, data).then(function(response){
          that.attendance_students = response.data


          var find = _.find(that.attendance_students, {
            id: student_id
          });


         _.find(that.students, {
            id: student_id
          }).absent_count = find.absent_count


        });
      },
      dateChange: function () {
        var that = this;
          that.attendance_loader = true;
        that.attendance_date = $('#calendar-input').val();
        var data = {
          date: that.attendance_date,
          subject_code: that.$route.params.subjectCode,
          id: that.user_id
        }
        axios.post(that.url.routeGetAttendance, data).then(function(response){
          that.attendance_students = response.data
          that.attendance_loader = false;
        });
      },
      openModalAttendance: function () {
        var that = this;
        that.attendance_loader = true;
        that.$f7.popup('.popup-attendance')
        var data = {
          date: that.attendance_date,
          subject_code: that.$route.params.subjectCode,
          id: that.user_id
        }
        axios.post(that.url.routeGetAttendance, data).then(function(response){
          that.attendance_students = response.data
          that.attendance_loader = false;
        });
      },
      deleteNotes: function (id) {
        var that = this;
        var data = {
          id: id
        }
        axios.patch(that.url.routeDeleteNotes, data).then(function(response){
          that.$f7.closeModal('.popup-view-notes');
        }).catch( function(error) {
            var err = error.response.data;
            that.$f7.alert(err.message, err.error);
        });

      },
      addNotes: function () {
        var that = this;
        var data = {
          subject_code: that.$route.params.subjectCode,
          teacher_id: that.user_id,
          notes: that.note_content,
        }
        axios.post(that.url.routeAddNotes, data).then(function(response){
          that.note_content = '';
          that.$f7.closeModal('.popup-add-notes');
        }).catch( function(error) {
            var err = error.response.data;
            that.$f7.alert(err.message, err.error);
        });
      },
      openModalAddNotes: function () {
        var that = this;
        that.$f7.popup('.popup-add-notes')
      },
      openModalViewNotes: function () {
        var that = this;
        that.$f7.popup('.popup-view-notes')
        var route = that.url.routeViewNotes + that.$route.params.subjectCode + '&teacher_id=' + that.user_id;
        axios.get(route).then(function(response){
          that.notes = response.data;
        }).catch( function(error) {
            var err = error.response.data;
            that.$f7.alert(err.message, err.error);
        });
      },
      openModalEditGrade: function (student, index) {
        var that = this;
        that.student_grades = {
          index: index,
          student_id: student.id,
          subject_code: that.$route.params.subjectCode,
          name: student.first_name + " " + student.last_name,
          prelim_quiz_grade: student.prelim_quiz_grade,
          prelim_exam_grade: student.prelim_exam_grade,
          prelim_final_grade: student.prelim_final_grade,
          midterm_quiz_grade: student.midterm_quiz_grade,
          midterm_exam_grade: student.midterm_exam_grade,
          midterm_final_grade: student.midterm_final_grade,
          finals_quiz_grade: student.finals_quiz_grade,
          finals_exam_grade: student.finals_exam_grade,
          finals_final_grade: student.finals_final_grade,
          total: student.total,
        }
        that.$f7.popup('.popup-services')
      },
      updateStudentGrade: function (index) {
        var that = this;
        var data = that.student_grades;
        axios.patch(that.url.routeUpdateStudentGrade, data).then(function(response){
          that.students[index] = response.data;
          that.student_grades = {
            index:  '',
            student_id:  '',
            subject_code:  '',
            name:  '',
            prelim_quiz_grade:  '',
            prelim_exam_grade:  '',
            prelim_final_grade:  '',
            midterm_quiz_grade: '',
            midterm_exam_grade:  '',
            midterm_final_grade:  '',
            finals_quiz_grade:  '',
            finals_exam_grade: '',
            finals_final_grade: '',
            total: '',
          }
          console.log(that.students[index]);
          that.$f7.closeModal('.popup-services')
        }).catch( function(error) {
            var err = error.response.data;
            that.$f7.alert(err.message, err.error);
        });
      }
    }
  }
</script>
