<template>
	<div id="app">
		<f7-statusbar></f7-statusbar>
		<f7-panel left reveal layout="dark">
			<f7-view navbar-through :dynamic-navbar="true">
				<f7-navbar title="Menu"></f7-navbar>
				<f7-pages>
					<f7-page>
						<f7-list>
							<f7-list-item link="/schedule" title="Schedules" link-view="#main-view" link-close-panel></f7-list-item>
							<f7-list-item link="/profile" title="Profile" link-view="#main-view" link-close-panel></f7-list-item>
							<f7-list-item link="/login" title="Logout" link-view="#main-view" link-close-panel></f7-list-item>
						</f7-list>
					</f7-page>
				</f7-pages>
			</f7-view>
		</f7-panel>
		<f7-views>

			<f7-view
			id="main-view"
			navbar-through
			:dynamic-navbar="true"
			main
			url="/login">

	   	<f7-navbar>
          <f7-nav-left>
            <f7-link icon="icon-bars" open-panel="left"></f7-link>
          </f7-nav-left>
          <f7-nav-center sliding>TURUAPP</f7-nav-center>
        </f7-navbar>
				<f7-pages>
				</f7-pages>
			</f7-view>
		</f7-views>
	</div>
</template>

